<div class="content">
  <mat-card class="card">
    <mat-card-title>Car List</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <th *ngFor="let header of displayedColumns;">{{ header }}</th>
        </tr>
        <tr *ngFor="let car of carData;">
          <td>{{ car.carId }} </td>
          <td>{{ car.make }} </td>
          <td>{{ car.model }}</td>
          <td>{{ car.year }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Car Form</mat-card-title>
    <mat-card-content>
      <span *ngIf="postErrorMsg.length > 0" class="error-message">{{ postErrorMsg }}</span>
        <div class="car-form">
            <div>
              <label matNativeControl for="make">Car make: </label>
              <input id="make" [(ngModel)]="newCar.make" placeholder="make" />
            </div>
            <div>
              <label for="model">Car model: </label>
              <input id="model" [(ngModel)]="newCar.model" placeholder="model" />
            </div>
            <div>
              <label for="year">Car year: </label>
              <input id="year" [(ngModel)]="newCar.year" placeholder="year" />
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="accent" (click)="addNewCar()">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
